<div class="container my-5"> 
    <h1 class="text-center mb-3">Employee List</h1>

<table class="table  mx-3" *ngIf="mockEmployees.length > 0" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
       
        <td>{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.position}}</td>
        <td>
            <button class="btn btn-outline-primary btn-sm" 
               [routerLink]="['/employees', 'employee', employee.id]">
                View
            </button>
        </td>
      </tr>

    </tbody>
  </table>
  <h5 class="text-secondary mx-3" *ngIf="mockEmployees.length==0">No Employees To Show</h5>

</div>
