<!--

  This component is to dislpay Employee List:
  contains a table of all the employees in the organization

-->


<div class="container my-5"> 

    <h1 class="text-center mb-4">Employee List</h1>
    
    <div class="d-flex justify-content-center " *ngIf="isLoading" >
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

<div *ngIf="!isLoading">
<table class="table  mx-3" *ngIf="employees.length > 0" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
       
        <td>{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.position}}</td>
        <td>
            <button class="btn btn-outline-primary btn-sm" 
               [routerLink]="['/employees', 'employee', employee.id]">
                View
            </button>
        </td>
      </tr>

    </tbody>
  </table>
  <h5 class="text-secondary mx-3" *ngIf="!employees || employees.length==0">No Employees To Show</h5>
</div>
</div>
